{
	"local":{
		"host"				:"127.0.0.1",
		"port"				:"5038",
		"username"			:"admin",
		"password"			:"password",
		"group_regex"		:"",
		"device_show_regex":"^SIP/[0-9]{1,4}",
		"group_default"		:"default"
	}
}
