@media print
{
	body * { visibility: hidden; }

	#drawing * { visibility: visible; }

	#drawing { 
		position: absolute; 
		left: 0px; 
		right:0px;
		top:0px;
		bottom: 0px; 
	}
}

@media screen 
{
	#drawing {
		position:absolute; 
		left:200px;
		top: 88px;
		right:0;
		bottom:0;
		margin: 0;
		padding: 0;
		background-color:#ffffff;
	}
}

.chatClient
{
	margin-top:2px;
	border-bottom-style:solid;
	border-bottom-color:#dddddd;
	border-bottom-width:1px;
}


.tool
{
	width:34px;
	height:34px;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
	display:inline-block;
	border-color:#dddddd;
	margin:2px;
}

.toolList
{
	margin-left:18px;
}

.selected
{
	border-color:#421F59;
	border-width:2px;
	margin:1px;
}

.toolHeader
{
	border-color:#dddddd;
	border-top-style:solid;
	border-width:1px;
	padding:.5em;
	padding-left:2em;
	background-position:5px top;
	background-repeat:no-repeat;
	margin-top:1em;
	margin-bottom:1em;
	padding-left:40px;
	font-size:18px;
}

.setting
{
	display:none;
}

.chatTypeHere
{
	color:#aaaaaa;
}

.chatOnline
{
	font-weight: bold;

}

.chatName
{
	font-weight: bold;
}

.chatText
{

}

.chatBar
{
	cursor:pointer;
	border-style:none;
	color: #ffffff;
	line-height:34px;
	background-color:#FF8400;
	padding-left:28px;
	background-position: 8px 12px;
	background-repeat:no-repeat;
	background-image: url("/paper/pijl-rechts.png");
}

.chatBar:hover
{
	background-color: #FF982A;			
}

.chatBarOpen
{
	background-image: url("/paper/pijl-beneden.png");
}

.menuBar
{
	cursor:pointer;
	border-width:1px;
	border-color:#A28FAB;
	border-right-style:solid;
	border-left-style:solid;
	line-height:34px;
	color: #ffffff;
	padding-left:28px;
	padding-right:18px;
	background-image: url("/paper/pijl-rechts.png");
	background-position: 8px 12px;
	background-repeat:no-repeat;
}

.menuBar:hover
{
	background-color: #633680;			
}

.menuBarOpen
{
	background-image: url("/paper/pijl-beneden.png");
}

.menuBar.loading
{
	background-image: url("/paper/spinner.gif");
	background-repeat:no-repeat;
	background-position: center center;
	background-color: #ffffff;
}

.menu
{
	cursor:pointer;
	background-color:#efefef;
	color:#000000;
	border-width:1px;
	border-color:#CED5DB;
	border-style:solid;
	display:none;
	min-width: 150px;
}

.menuItem
{
	padding-left:1em;
}

.menuSeperator
{
	border-top-style:solid;
	border-top-color:#CED5DB;
	border-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#ffffff;
	width:100%;
}

.menuItem:hover
{
	background-color: #CED5DB;
	
}

img
{
	border:0;
	margin:0;
	padding:0;
	display:inline;
}

.share
{
	width:16px;
	height:16px;
	cursor:pointer;
	display:inline-block;
	margin:2px;
}

.share.loading
{
	background-image: url("/paper/spinner.gif");
}

.facebook
{
	 background-image:url("/paper/facebook.png");
}

.twitter
{
	 background-image:url("/paper/twitter.png");
}

.hyves
{
	 background-image:url("/paper/hyves.png");
}

.email
{
	 background-image:url("/paper/email.png");
}

.linkedin
{
	 background-image:url("/paper/linkedin.png");
}

.addthis
{
	 background-image:url("/paper/addthis.png");
}

.print
{
	width:16px;
	height:16px;
	cursor:pointer;
	display:inline-block;
	margin:2px;
	background-image:url("/paper/print.png");
}
		

		
.auth_chat_enabled
{
}

.auth_chat_disabled
{
	display:none;
}

.auth_owner_enabled
{
}

.auth_owner_disabled
{
	display:none;
}

.auth_change_enabled
{
}

.auth_change_disabled
{
	display:none;
}

.auth_cursor_enabled
{
	cursor:crosshair;
}

.auth_cursor_disabled
{
	cursor:default;
}


